<nav class="pagination">
    <ul>
		{{#if prev}}
			<li><a href="{{page_url prev}}">&lt;</a></li>
		{{/if}}
		{{#paginate page pages limit=7}}
			{{#if first}}
				<li {{#if active}} class="active" {{/if}}><a href="{{page_url n}}">{{n}}</a></li>
				{{#if ellipsis}}
					<li class="ellipsis">…</li>
				{{/if}}
			{{/if}}
			{{#if middle}}
				<li {{#if active}} class="active" {{/if}}><a href="{{page_url n}}">{{n}}</a></li>
			{{/if}}
			{{#if last}}
				{{#if ellipsis}}
					<li class="ellipsis">…</li>
				{{/if}}
				<li {{#if active}} class="active" {{/if}}><a href="{{page_url n}}">{{n}}</a></li>
			{{/if}}
		{{/paginate}}
		{{#if next}}
			<li><a href="{{page_url next}}">&gt;</a></li>
		{{/if}}
	</ul>
</nav>
